<div class="News">
    <div class="News-title">
        <h1>{{DSTintuc.name}}</h1>
        <div class="News-icon text-center">
            <i class="fa fa-thumbs-up" [ngClass]="{like:status}" aria-hidden="true" (click)="like()"><span>({{sumlike}})</span></i>
            
            <i class="fa fa-comment-alt" aria-hidden="true"></i>
        </div>
    </div>
    <div class="News-content">
        <img [src]="DSTintuc.Img" alt="" class="img-fluid">
        <p>{{DSTintuc.content2}}</p>
        <img [src]="DSTintuc.Img2" class="img-fluid">
        <p>{{DSTintuc.content2}}</p>
    </div>
    <app-comment></app-comment>

</div>