.next {
    animation: bounceInRight 1.5s ease;
}

.pre {
    animation: bounceInLeft 1.5s ease;
}

.now-play-show {
    width: 100%;
    height: 992px;
}

.fa-chevron-left {
    position: absolute;
    left: 75px;
    top: 400px;
    font-size: 40px
}

.fa-chevron-right {
    position: absolute;
    right: 75px;
    top: 400px;
    font-size: 40px;
}