<div class="Now-play">
    <div class="now-play-show">
        <ng-container>
            <div [ngSwitch]="biendem1">
                <div *ngIf="DSphimDangChieu1">
                    <div *ngFor="let item of DSphimDangChieu1 |slice :0:biendem, let i=index">
                        <div *ngSwitchCase="i+1" [ngClass]="{next:status,pre:!status}">
                            <div class="row">
                                <app-now-play-item class="col-3 mt-2" *ngFor="let item of DSphimDangChieu1 |slice :8*i:8+8*i " [phim]="item"></app-now-play-item>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </ng-container>
    </div>
    <div class="Now-play-icon">
        <i class="fa fa-chevron-left" aria-hidden="true" (click)="pre()"></i>
        <i class="fa fa-chevron-right" aria-hidden="true" (click)="next()"></i>

    </div>
</div>