<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <mat-form-field>
        <mat-label>Phim</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of danhSachPhim">
            {{ item.tenPhim }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field>
        <mat-label>Rạp</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of danhSachRap">
            {{ item.tenHeThongRap }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field>
        <mat-label>Ngày xem</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of danhSachPhim">
            {{ item.tenPhim }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-label>Suất chiếu</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of thongTinLichChieuPhim">
            {{ item.tenPhim }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="datVe()">Mua vé ngay</button>
    </div>
  </div>
</div>
