<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <app-search-phim (phimDuocChon)="chonPhim($event)"></app-search-phim>
    </div>
    <div class="col-2">
      <app-search-rap
        [movie]="movie"
        (event)="chonRap($event)"
      ></app-search-rap>
    </div>
    <div class="col-2">
      <app-search-ngay [rap]="rap" (event)="chonNgay($event)"></app-search-ngay>
    </div>
    <div class="col-3">
      <app-search-gio [ngay]="ngay" (event)="chonGio($event)"></app-search-gio>
    </div>
    <div class="col-2">
      <button class="btn btn-success" [disabled]="!gio" (click)="datVe()">
        Mua vé ngay
      </button>
    </div>
  </div>
</div>
