h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 42px;
    font-size: 16px;
    margin: 3px 0;
    cursor: pointer;
    &:hover {
        color: #ef802a;
    }
    margin-left:-15px;
}