<div class="tab__item" [hidden]="!status">
    <div class="coming__content text-white">
        <div class="coming__overlay animated" [ngClass]="{fadeIn: status}" [style.background-image]="'url(' + phim.hinhAnhBG + ')'"></div>
        <div class="row coming__detail d-flex align-items-center">
            <div class="coming__detail__item animated col-sm-6 col-12" [ngClass]="{fadeInUp: status}">
                <span>{{phim.theLoai}}</span>
                <h3>{{phim.tenPhim}}</h3>
                <div class="coming__detial__icon">
                    <i class="fa fa-star movie__star"></i>
                    <i class="fa fa-star movie__star"></i>
                    <i class="fa fa-star movie__star"></i>
                    <i class="fa fa-star movie__star"></i>
                    <i class="fa fa-star movie__star"></i>
                    <i class="fa fa-calendar-alt px-2"></i>
                    <span>{{phim.ngayKhoiChieu}}</span>
                </div>
                <p>{{phim.moTa}}</p>
                <a href="#">MORE INFO<i class="fa fa-angle-right pl-1"></i></a>
            </div>
            <div class="coming__detail__video col-sm-6 col-12">
                <a class="video-venobox" data-autoplay="true" data-vbtype="video" [href]="phim.trailer">
                    <i class="fa fa-play"></i>
                    <img class="img-fluid" [src]="phim.hinhAnhVideo" alt="#">
                </a>
            </div>
        </div>
    </div>
</div>