@import "../../../../../../style/style.scss";
.item {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  transform: translateY(-30%);
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
    @keyframes tobottom {
      0% {
        transform: translateY(-100px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes totop {
      0% {
        transform: translateY(100px);
        opacity: 0;
      }
      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    h1 {
      animation: tobottom 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    p {
      animation: tobottom 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    button {
      animation: totop 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}
