.Tintuc__item {
    img {
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid #f8dfc2;
    }
    .Tintuc-content {
        h1 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 20px;
            height: 42px;
            font-size: 16px;
            margin: 3px 0;
            cursor: pointer;
            &:hover {
                color: #ef802a;
            }
        }
        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 20px;
            height: 55px;
            font-size: 13px;
            margin-bottom: 3px;
        }
    }
   
}
.Tintuc-icon {
    i {
        margin: 10px 40px 25px 0px;
        font-size: 20px;
        opacity: 0.5;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
            opacity: 0.6;
        }
    }
}
.like {
    color: blue;
}
