<!-- Nav pills -->



<ul class="nav nav-pills ">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#home_tintuc" (click)="reset()">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu1_tintuc" (click)="reset()">Review</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2_tintuc" (click)="reset()">Khuyến mãi</a>
    </li>
</ul>





<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane container active" id="home_tintuc">
        <app-new></app-new>
    </div>

    <div class="tab-pane container fade show" id="menu1_tintuc">
        <app-review></app-review>
    </div>
    <div class="tab-pane container fade show" id="menu2_tintuc">
        <app-promotion></app-promotion>
    </div>
</div>