.nav {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    .nav-item {
        width: 100px;
        text-align: center;
        .nav-link {
            transition: all 0.3s;
            border: none;
            color: black;
            font-size: 26px;
            &:hover {
                transform: scale(1.3);
            }
            padding: 0;
        }
        .active {
            background-color: transparent;
            color: orange;
        }
    }
    .nav-item:nth-child(3) {
        .nav-link {
            width: 170px;
        }
    }
}