<footer class="movie-footer mt-5">
    <div class="footer__content">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="item">
                        <img src="assets/img/footer-logo.png" alt="">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, illo, minima consequuntur consequatur nobis, sint odit exercitationem unde veritatis ipsa culpa facere quibusdam
                        </p>
                        <div class="icons">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-google-plus-g"></i>
                            <i class="fab fa-pinterest-p"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <h4 class="head">Custom Services</h4>
                        <ul>
                            <li><a href="#">Help & Contact</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Feed Back</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <h4 class="head">Recent Posts</h4>
                        <ul>
                            <li>
                                <a href="#">Doctor Strange assembles with the Avengers</a>
                                <small>December 20, 2016</small>

                            </li>
                            <li>
                                <a href="#">5 movies to watch this week (29 Sep 2016)</a>
                                <small>December 20, 2016</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <h4 class="head">Contact Us</h4>
                        <ul>
                            <li>
                                <i class="fa fa-location-arrow"></i>
                                <span>9067 Zurich, Switzerland 87</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>nmp@gmail.com</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>01692 707 316</span>
                            </li>
                        </ul>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter your email">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                                            class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copy">©Copyright 2016 Movie</p>
                </div>
                <div class="col-md-6 text-right">
                    <div class="policy">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of us</a>
                        <a href="#">Site Map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>